Analise_E_Simulacao_Tarifacao_Energia/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITEE_BUS_Service1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://teebus.azurewebsites.net/TEE_BUS_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://teebus.azurewebsites.net/TEE_BUS_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://teebus.azurewebsites.net/TEE_BUS_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TEE_BUS.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesBandeira_InputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesBandeira" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesBandeira_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesBandeiraResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarBandeira_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarBandeira" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarBandeira_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarBandeiraResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasBandeiras_InputMessage">
    <wsdl:part name="parameters" element="tns:TodasBandeiras" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasBandeiras_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodasBandeirasResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesCliente" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarCliente" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarCliente" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarFabrica_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarFabrica" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarFabrica_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarFabricaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDaFabrica_InputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDaFabrica" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDaFabrica_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDaFabricaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasFabricas_InputMessage">
    <wsdl:part name="parameters" element="tns:TodasFabricas" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasFabricas_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodasFabricasResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarFabrica_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarFabrica" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarFabrica_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarFabricaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarFabrica_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarFabrica" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarFabrica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarFabricaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarContrato" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarContratoResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesContrato" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesContratoResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodosContratos_InputMessage">
    <wsdl:part name="parameters" element="tns:TodosContratos" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodosContratos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodosContratosResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarDistribuidora_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarDistribuidora" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarDistribuidora_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarDistribuidoraResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesDistribuidora_InputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesDistribuidora" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesDistribuidora_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesDistribuidoraResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasDistribuidoras_InputMessage">
    <wsdl:part name="parameters" element="tns:TodasDistribuidoras" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasDistribuidoras_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodasDistribuidorasResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarSubGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarSubGrupo" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarSubGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarSubGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesSubGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesSubGrupo" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DetalhesSubGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetalhesSubGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodosSubGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:TodosSubGrupos" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodosSubGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodosSubGruposResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarTarifa_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarTarifa" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarTarifa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDaTarifa_InputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDaTarifa" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDaTarifa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDaTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasTarifas_InputMessage">
    <wsdl:part name="parameters" element="tns:TodasTarifas" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasTarifas_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodasTarifasResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarTarifa_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarTarifa" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarTarifa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarTarifa_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarTarifa" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarTarifa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDoUsuario" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_VerificaAutenticacao_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificaAutenticacao" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_VerificaAutenticacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificaAutenticacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_ListarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_ListarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarConta_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarConta" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_CadastrarConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarContaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDaConta_InputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDaConta" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DestalhesDaConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestalhesDaContaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasContas_InputMessage">
    <wsdl:part name="parameters" element="tns:TodasContas" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_TodasContas_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodasContasResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_ConsultaEntreDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEntreDatas" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_ConsultaEntreDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEntreDatasResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarConta_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarConta" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_AtualizarConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarContaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarConta_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarConta" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DeletarConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarContaResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_GerarSimulacao_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarSimulacao" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_GerarSimulacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarSimulacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DadosParaGrafico_InputMessage">
    <wsdl:part name="parameters" element="tns:DadosParaGrafico" />
  </wsdl:message>
  <wsdl:message name="ITEE_BUS_Service1_DadosParaGrafico_OutputMessage">
    <wsdl:part name="parameters" element="tns:DadosParaGraficoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITEE_BUS_Service1">
    <wsdl:operation name="DetalhesBandeira">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesBandeira" message="tns:ITEE_BUS_Service1_DetalhesBandeira_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesBandeiraResponse" message="tns:ITEE_BUS_Service1_DetalhesBandeira_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarBandeira">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarBandeira" message="tns:ITEE_BUS_Service1_CadastrarBandeira_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarBandeiraResponse" message="tns:ITEE_BUS_Service1_CadastrarBandeira_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodasBandeiras">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasBandeiras" message="tns:ITEE_BUS_Service1_TodasBandeiras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasBandeirasResponse" message="tns:ITEE_BUS_Service1_TodasBandeiras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetalhesCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesCliente" message="tns:ITEE_BUS_Service1_DetalhesCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesClienteResponse" message="tns:ITEE_BUS_Service1_DetalhesCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarCliente" message="tns:ITEE_BUS_Service1_CadastrarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarClienteResponse" message="tns:ITEE_BUS_Service1_CadastrarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarCliente" message="tns:ITEE_BUS_Service1_AtualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarClienteResponse" message="tns:ITEE_BUS_Service1_AtualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarFabrica">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarFabrica" message="tns:ITEE_BUS_Service1_CadastrarFabrica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarFabricaResponse" message="tns:ITEE_BUS_Service1_CadastrarFabrica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaFabrica">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaFabrica" message="tns:ITEE_BUS_Service1_DestalhesDaFabrica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaFabricaResponse" message="tns:ITEE_BUS_Service1_DestalhesDaFabrica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodasFabricas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasFabricas" message="tns:ITEE_BUS_Service1_TodasFabricas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasFabricasResponse" message="tns:ITEE_BUS_Service1_TodasFabricas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarFabrica">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarFabrica" message="tns:ITEE_BUS_Service1_DeletarFabrica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarFabricaResponse" message="tns:ITEE_BUS_Service1_DeletarFabrica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarFabrica">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarFabrica" message="tns:ITEE_BUS_Service1_AtualizarFabrica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarFabricaResponse" message="tns:ITEE_BUS_Service1_AtualizarFabrica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarContrato" message="tns:ITEE_BUS_Service1_CadastrarContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarContratoResponse" message="tns:ITEE_BUS_Service1_CadastrarContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetalhesContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesContrato" message="tns:ITEE_BUS_Service1_DetalhesContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesContratoResponse" message="tns:ITEE_BUS_Service1_DetalhesContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodosContratos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodosContratos" message="tns:ITEE_BUS_Service1_TodosContratos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodosContratosResponse" message="tns:ITEE_BUS_Service1_TodosContratos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarDistribuidora">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarDistribuidora" message="tns:ITEE_BUS_Service1_CadastrarDistribuidora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarDistribuidoraResponse" message="tns:ITEE_BUS_Service1_CadastrarDistribuidora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetalhesDistribuidora">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesDistribuidora" message="tns:ITEE_BUS_Service1_DetalhesDistribuidora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesDistribuidoraResponse" message="tns:ITEE_BUS_Service1_DetalhesDistribuidora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodasDistribuidoras">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasDistribuidoras" message="tns:ITEE_BUS_Service1_TodasDistribuidoras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasDistribuidorasResponse" message="tns:ITEE_BUS_Service1_TodasDistribuidoras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarSubGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarSubGrupo" message="tns:ITEE_BUS_Service1_CadastrarSubGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarSubGrupoResponse" message="tns:ITEE_BUS_Service1_CadastrarSubGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetalhesSubGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesSubGrupo" message="tns:ITEE_BUS_Service1_DetalhesSubGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DetalhesSubGrupoResponse" message="tns:ITEE_BUS_Service1_DetalhesSubGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodosSubGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodosSubGrupos" message="tns:ITEE_BUS_Service1_TodosSubGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodosSubGruposResponse" message="tns:ITEE_BUS_Service1_TodosSubGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarTarifa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarTarifa" message="tns:ITEE_BUS_Service1_CadastrarTarifa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarTarifaResponse" message="tns:ITEE_BUS_Service1_CadastrarTarifa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaTarifa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaTarifa" message="tns:ITEE_BUS_Service1_DestalhesDaTarifa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaTarifaResponse" message="tns:ITEE_BUS_Service1_DestalhesDaTarifa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodasTarifas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasTarifas" message="tns:ITEE_BUS_Service1_TodasTarifas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasTarifasResponse" message="tns:ITEE_BUS_Service1_TodasTarifas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarTarifa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarTarifa" message="tns:ITEE_BUS_Service1_AtualizarTarifa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarTarifaResponse" message="tns:ITEE_BUS_Service1_AtualizarTarifa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarTarifa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarTarifa" message="tns:ITEE_BUS_Service1_DeletarTarifa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarTarifaResponse" message="tns:ITEE_BUS_Service1_DeletarTarifa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarUsuario" message="tns:ITEE_BUS_Service1_CadastrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarUsuarioResponse" message="tns:ITEE_BUS_Service1_CadastrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestalhesDoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDoUsuario" message="tns:ITEE_BUS_Service1_DestalhesDoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDoUsuarioResponse" message="tns:ITEE_BUS_Service1_DestalhesDoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificaAutenticacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/VerificaAutenticacao" message="tns:ITEE_BUS_Service1_VerificaAutenticacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/VerificaAutenticacaoResponse" message="tns:ITEE_BUS_Service1_VerificaAutenticacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarUsuario" message="tns:ITEE_BUS_Service1_AtualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarUsuarioResponse" message="tns:ITEE_BUS_Service1_AtualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarUsuario" message="tns:ITEE_BUS_Service1_DeletarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarUsuarioResponse" message="tns:ITEE_BUS_Service1_DeletarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/ListarUsuarios" message="tns:ITEE_BUS_Service1_ListarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/ListarUsuariosResponse" message="tns:ITEE_BUS_Service1_ListarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarConta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarConta" message="tns:ITEE_BUS_Service1_CadastrarConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/CadastrarContaResponse" message="tns:ITEE_BUS_Service1_CadastrarConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaConta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaConta" message="tns:ITEE_BUS_Service1_DestalhesDaConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaContaResponse" message="tns:ITEE_BUS_Service1_DestalhesDaConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodasContas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasContas" message="tns:ITEE_BUS_Service1_TodasContas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/TodasContasResponse" message="tns:ITEE_BUS_Service1_TodasContas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEntreDatas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/ConsultaEntreDatas" message="tns:ITEE_BUS_Service1_ConsultaEntreDatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/ConsultaEntreDatasResponse" message="tns:ITEE_BUS_Service1_ConsultaEntreDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarConta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarConta" message="tns:ITEE_BUS_Service1_AtualizarConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/AtualizarContaResponse" message="tns:ITEE_BUS_Service1_AtualizarConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarConta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarConta" message="tns:ITEE_BUS_Service1_DeletarConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DeletarContaResponse" message="tns:ITEE_BUS_Service1_DeletarConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarSimulacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/GerarSimulacao" message="tns:ITEE_BUS_Service1_GerarSimulacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/GerarSimulacaoResponse" message="tns:ITEE_BUS_Service1_GerarSimulacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DadosParaGrafico">
      <wsdl:input wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DadosParaGrafico" message="tns:ITEE_BUS_Service1_DadosParaGrafico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITEE_BUS_Service1/DadosParaGraficoResponse" message="tns:ITEE_BUS_Service1_DadosParaGrafico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITEE_BUS_Service1" type="tns:ITEE_BUS_Service1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DetalhesBandeira">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesBandeira" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarBandeira">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarBandeira" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasBandeiras">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasBandeiras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesCliente">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarCliente">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarCliente">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasFabricas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasFabricas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarContrato">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesContrato">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodosContratos">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodosContratos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarDistribuidora">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarDistribuidora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesDistribuidora">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesDistribuidora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasDistribuidoras">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasDistribuidoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarSubGrupo">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesSubGrupo">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodosSubGrupos">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodosSubGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasTarifas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasTarifas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDoUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaAutenticacao">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/VerificaAutenticacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasContas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasContas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEntreDatas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/ConsultaEntreDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarSimulacao">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/GerarSimulacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DadosParaGrafico">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DadosParaGrafico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITEE_BUS_Service1" type="tns:ITEE_BUS_Service1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITEE_BUS_Service1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DetalhesBandeira">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesBandeira" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarBandeira">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarBandeira" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasBandeiras">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasBandeiras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesCliente">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarCliente">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarCliente">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasFabricas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasFabricas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarFabrica">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarFabrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarContrato">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesContrato">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodosContratos">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodosContratos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarDistribuidora">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarDistribuidora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesDistribuidora">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesDistribuidora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasDistribuidoras">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasDistribuidoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarSubGrupo">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalhesSubGrupo">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DetalhesSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodosSubGrupos">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodosSubGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasTarifas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasTarifas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDoUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaAutenticacao">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/VerificaAutenticacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/CadastrarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestalhesDaConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DestalhesDaConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodasContas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/TodasContas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEntreDatas">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/ConsultaEntreDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/AtualizarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarConta">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DeletarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarSimulacao">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/GerarSimulacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DadosParaGrafico">
      <soap:operation soapAction="http://tempuri.org/ITEE_BUS_Service1/DadosParaGrafico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ITEE_BUS_Service1" binding="tns:BasicHttpBinding_ITEE_BUS_Service1">
      <soap:address location="http://teebus.azurewebsites.net/TEE_BUS_Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITEE_BUS_Service1" binding="tns:BasicHttpsBinding_ITEE_BUS_Service1">
      <soap:address location="https://teebus.azurewebsites.net/TEE_BUS_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>